---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<p>&nbsp;</p>
<table style="width: 100%; border: none;
border-collapse: collapse;">
<tbody>
<tr>
<td style="width: 77.4264%;" colspan="3">
<h2><span style="color: #ff0000;">Submitted / In preparation Articles</span></h2>
</td>
</tr>
<tr>
<td style="width: 80%;">&nbsp;Farzaneh Zare Mehrabadi, Najmeh Sadat Hosseini Motlagh , Mohammad Ali Haddad, Mohammad Zarei Mahmoudabadi<br /> "Development and Statistical Validation of Predictive Regression Models for Optimizing Graphene Oxide-Based Photothermal Therapy Parameters."<br /> In preparation</td>
<td style="width: 10.00%;">DOI</td>
<td style="width: 10.0%;"><a href="http://www.google.com" target="_blank">Download </a></td>
</tr>
<tr>
<td style="width: 80%;">Farzaneh Zare Mehrabadi, Najmeh Sadat Hosseini Motlagh , Mohammad Ali Haddad, Mohammad Zarei Mahmoudabadi<br />"Development and Statistical Validation of Predictive Regression Models for Optimizing Graphene Oxide-Based Photothermal Therapy Parameters."<br />In preparation</td>
<td style="width: 10.00%;">DOI</td>
<td style="width: 10.0%;"><a href="http://www.google.com" target="_blank">Download</a></td>
</tr>
<tr>
<td style="width: 80.00%;">Farzaneh Zare Mehrabadi, Najmeh Sadat Hosseini Motlagh , Mohammad Ali Haddad, Mohammad Zarei Mahmoudabadi<br />"Development and Statistical Validation of Predictive Regression Models for Optimizing Graphene Oxide-Based Photothermal Therapy Parameters."<br />In preparation</td>
<td style="width: 10.00%;">DOI</td>
<td style="width: 10.00%;"><a href="http://www.google.com" target="_blank">Download</a></td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<h2>&nbsp;</h2>
<table style="width: 100%;">
<tbody>
<tr style="height: 47px;">
<td style="width: 1017px; height: 47px;" colspan="3">
<h2><span style="color: #ff0000;">Journal Articles</span></h2>
</td>
</tr>
<tr style="height: 13.2px;">
<td style="width: 800px; height: 13.2px;">&nbsp;</td>
<td style="width: 100px; height: 13.2px;">&nbsp;</td>
<td style="width: 100px; height: 13.2px;">&nbsp;</td>
</tr>
<tr style="height: 13px;">
<td style="width: 800px; height: 13px;">&nbsp;</td>
<td style="width: 100px; height: 13px;">&nbsp;</td>
<td style="width: 100px; height: 13px;">&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<table style="width: 100%;">
<tbody>
<tr style="height: 47px;">
<td style="width: 1017px; height: 47px;" colspan="3">
<h2><span style="color: #ff0000;">Confer</span></h2>
</td>
</tr>
<tr style="height: 13.2px;">
<td style="width: 800px; height: 13.2px;">&nbsp;</td>
<td style="width: 100px; height: 13.2px;">&nbsp;</td>
<td style="width: 100px; height: 13.2px;">&nbsp;</td>
</tr>
<tr style="height: 13px;">
<td style="width: 800px; height: 13px;">&nbsp;</td>
<td style="width: 100px; height: 13px;">&nbsp;</td>
<td style="width: 100px; height: 13px;">&nbsp;</td>
</tr>
</tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<!-- Comments are visible in the HTML source only -->
