---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}


<p style="font-weight: bold;">Submitted / In preparation Articles</p>

<ul>
<li>Farzaneh Zare Mehrabadi, Najmeh Sadat Hosseini Motlagh , Mohammad Ali Haddad, Mohammad Zarei Mahmoudabadi <br />"Development and Statistical Validation of Predictive Regression Models for Optimizing Graphene Oxide-Based Photothermal Therapy Parameters."<br /> In preparation<br />Links: PDF | DOI<br /><br /></li>
  
<li>Seyyed Kianoush Pakravan, Mohammad Ali Haddad<br /> 
  "Exploring the Nonlinear Optical Behavior of Wild Pistachio Oil via Spatial Self-Phase Modulation: A Natural Medium for Photonic and Optoelectronic Applications".<br />Submitted<br /> Links: PDF | DOI<br /><br /></li>
  
<li>Mehrnoush Ebadi, Mohammad Ali Haddad, Mohammad Rezaei-Pandari, Khosro Madanipour<br /> Moir&eacute; Deflectometry: Unraveling the Link Between Fatty Acids and Nonlinear Refraction in Edible Oils.<br />In preparation<br /> Links: PDF | DOI<br /><br /></li>
  
<li>Mohammad Rezaei-Pandari, Mohammad Ali Haddad, Roghaye Izan, Massoud, Harfouche, Khan, Latif Ullah.<br /> Elemental Profiling of Asphaltene Deposits using Synchrotron-Based XRF Analysis<br />Accepted<br /> Links: PDF | DOI<br /><br /></li>
  
<li>Moein Golestanifar, Mohammad Ali Haddad, Amir Namiq Hassan.<br /> Enhancing Optical Limiting Performance of Vegetable Oils with MoSe₂ Nanosheets for Sustainable Photonic Applications<br />Accepted<br /> Links: PDF | DOI<br /><br /></li>
  
<li>Hassan, Amir Namiq, Mohammad Ali Haddad<br /><a href="http://www.google.com">
Experimental Implementation of All-Optical Modulation Using Grape Seed Oil: A Nonlinear Optical Study</a><br />
Accepted<br /> Links: PDF | DOI</li>
</ul>




